services:
  elix-api:
    image: elix-api:latest
    container_name: elix-api
    restart: always
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    extra_hosts:
      - "host.docker.internal:host-gateway"

  elix-webapp:
    image: elix-webapp:latest
    container_name: elix-webapp
    restart: always
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    extra_hosts:
      - "host.docker.internal:host-gateway"