services:
  elix-api:
    image: elix-api:latest
    container_name: elix-api
    restart: always
    ports:
      - "5000:80" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Kestrel__Endpoints__Http__Url=http://0.0.0.0:80
    extra_hosts:
      - "host.docker.internal:host-gateway"

  elix-webapp:
    image: elix-webapp:latest
    container_name: elix-webapp
    restart: always
    ports:
      - "5001:80"  # <--- CHANGE ICI AUSSI
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Kestrel__Endpoints__Http__Url=http://0.0.0.0:80
    extra_hosts:
      - "host.docker.internal:host-gateway"