@{
    ViewData["Title"] = "Home";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3 text-center">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <h2>Elix backoffice</h2>
        <h3>GRAOUUUUU</h3>

        <h4>Salut à toi @ViewBag.UserFirstname !</h4>
    </div>
</div>