@model ElixBackend.Business.DTO.LoginRequest

@{
    ViewData["Title"] = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3 text-center">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header text-center bg-primary text-white">
                <h4 class="mb-0">Connexion</h4>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-controller="User" method="post">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="LoginRequest.Email" class="form-label"></label>
                        <input asp-for="LoginRequest.Email" class="form-control"/>
                        <span asp-validation-for="LoginRequest.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LoginRequest.Password" class="form-label"></label>
                        <input asp-for="LoginRequest.Password" class="form-control" type="password"/>
                        <span asp-validation-for="LoginRequest.Password" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>