name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["develop", "main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Format check
        run: dotnet format --verify-no-changes --verbosity diagnostic
      - name: Code analysis
        run: dotnet build --configuration Release --verbosity normal /p:TreatWarningsAsErrors=true
      - name: Test
        run: dotnet test --no-build --verbosity normal
